body
{
	background-color:#33333D;
}
.lead
{
	font-weight: normal;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	color: white;
	font-size: 30px;
}
.cover-heading
{
	margin-top: 10%;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 60px;
	padding: 50px;
	color:white;
}
.form-group
{
	color: white;
}
.navbar-brand,.nav-link
{
	color: white;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
}

.card-body
{
	background-color:#33333D;
	font-family: 'Comfortaa', cursive;
}
