{% extends 'Grantha/base_layout.html' %}


{% block content %} 
<div class="container jumbotron d-flex align-items-center">
<div class="card ml-5 " style="width: 15rem;">
	  <div class="card-body bg-white text-left">
	    <h5 class="card-title">The Lord of the Rings</h5>
	    <h6 class="card-subtitle mb-2 text-muted">J. R. R. Tolkien</h6>
	  </div>
    
    <div class="card-text pl-3 pr-3 text-dark text-md-left">
  	  <p>The Lord of the Rings is an epic high-fantasy novel written by English author and scholar J. R. R. Tolkien. The story began as a sequel to Tolkien's 1937 fantasy novel The Hobbit, but eventually developed into a much larger work.</p>
   </div>
  
  <ul class="list-group text-left list-group-flush">
    <li class="list-group-item">Rating:9.5/10</li>
  </ul>
  
  <div class="card-body bg-light">
    <a href="#" class="card-link">Review</a>
    <a href="#" class="card-link">Rate</a>
  </div>
</div>
</div>


{% endblock %}  